
 <% if  current_user.email == 'admin@example.com'%>
<aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">
            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
               
                    <li class="active">
                        <%= link_to root_path  do%>
                        <i class="menu-icon fa fa-laptop"></i>
                        <span>EBF 2019</span>
                        <%end%>
    
                    </li>
                    <li class="menu-title"> Menu</li><!-- /.menu-title -->
                    <li><%= link_to students_path do%>
                        <i class="menu-icon fa fa-table"></i>
                        <span>Alunos</span>
                        <%end%>
                    </li>
                 
                   
                   
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside>

    <%else%>



<aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">
            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
        
                    <li class="active">
                        <%= link_to root_path  do%>
                        <i class="menu-icon fa fa-laptop"></i>
                        <span>EBF 2019</span>
                        <%end%>
    
                    </li>
                    <li class="menu-title"> Menu</li><!-- /.menu-title -->
                    <li><%= link_to students_path do%>
                        <i class="menu-icon fa fa-table"></i>
                        <span>Frequência</span>
                        <%end%>
                    </li>
                 
                   
                   
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside>

    <% end %>