<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
  	<title>Frequência</title>
     <%= wicked_pdf_stylesheet_link_tag 'application'%>
  </head>

  <body>
      <%=  render template: "backsystem/frec/a2"  %>
    
  </body>
</html>
