body {
    background: #eee;
    margin: 0;
    padding: 0;
  }
  
  .login {
    position: relative;
    margin: 0.5rem 0 1rem 0;
    background-color: #fff;
    border-radius: 2px;
    max-width: 100%;
    width: 22rem;
    margin: 20px auto;
    padding: 16px;
    &_image {
      max-height: 100%;
      max-width: 100%;
      text-align: center;
      margin: 16px;
      & img {
        height: 150px;
        width: 150px;
        border-radius: 100px;
        // box-shadow: 0 0 40px rgba(0, 0, 0, 0.05);
      }
    }
  
    &_content {
      text-align: center;
      padding: 25px 45px;
      margin: 20px auto;
  
      &_form {
        margin: 10px;
        display: grid;
  
        & input {
          padding: 16px;
          border: none;
          border-bottom: 2px solid #694ed6;
          margin: 10px 0;
          transition: 0.25s all;
          &:focus {
            outline: none;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.125);
            border-bottom: none;
            transition: 0.25s all;
          }
        }
      }
    }
  
    &_btn {
      border: none;
      background: #694ed6;
  
      cursor: pointer;
      border-radius: 3px;
      padding: 16px;
      width: 200px;
      color: white;
  
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
    }
  }
  
  @media only screen and (max-width: 390px) {
    .login {
      width: 100%;
      padding: 16px 0;
    }
  
    .login_btn {
      width: 100%;
    }
  }
  body {
    background: #eee;
    margin: 0;
    padding: 0;
  }
  
  .login {
    
    position: relative;
    margin: 3.0rem 0 1rem 0;
    background-color: #fff;
    border-radius: 2px;
    max-width: 100%;
    width: 22rem;
    margin: 20px auto;
    padding: 16px;
    // margin-top:0;

    &_image {
      max-height: 100%;
      max-width: 100%;
      text-align: center;
      margin: 16px;
      & img {
        height: 150px;
        width: 150px;
        border-radius: 100px;
        box-shadow: 0 0 40px rgba(0, 0, 0, 0.05);
      }
    }
  
    &_content {
      text-align: center;
      padding: 25px 45px;
      margin: 20px auto;
  
      &_form {
        margin: 10px;
        display: grid;
  
        & input {
          padding: 16px;
          border: none;
          border-bottom: 2px solid #694ed6;
          margin: 10px 0;
          transition: 0.25s all;
          &:focus {
            outline: none;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.125);
            border-bottom: none;
            transition: 0.25s all;
          }
        }
      }
    }
  
    &_btn {
      border: none;
      background: #694ed6;
  
      cursor: pointer;
      border-radius: 3px;
      padding: 16px;
      width: 200px;
      color: white;
  
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
    }
  }
  
  @media only screen and (max-width: 390px) {
    .login {
      width: 100%;
      padding: 16px 0;
    }
  
    .login_btn {
      width: 100%;
    }
  }
  