<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
  	<title><%=@student.name%></title>
     <%= wicked_pdf_stylesheet_link_tag ''%>
  </head>

  <body>
      <%=  render template: "students/show"  %>
    
  </body>
</html>
